<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="newbs.etranz">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".Login_Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile_Activity"
            android:parentActivityName=".HomeScreen_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreen_Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerActivity"
            android:parentActivityName=".Login_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings_Activity"
            android:parentActivityName=".HomeScreen_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TripSearch_Activity"
            android:parentActivityName=".HomeScreen_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_Trip_Activity"
            android:label="@string/newTripAB"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".HomeScreen_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".AvailableTrips_Activity"></activity>
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".UpdateEmail"></activity>
        <activity android:name=".PassReset_Activity"
            android:parentActivityName=".Login_Activity"></activity>
    </application>

</manifest>